@import "tailwindcss";

/* Base colors */
:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* Dark mode */
/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

/* Tailwind theme variables (if using @theme) */
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-julius); /* Use Julius Sans One here */
  --font-mono: var(--font-geist-mono);
}

/* Apply the font to the body */
body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), sans-serif;
}


.font-julius {
  font-family: var(--font-julius), sans-serif;
}

.font-syncopate {
  font-family: var(--font-syncopate), sans-serif;
}

.font-inter {
  font-family: var(--font-inter), sans-serif;
}


.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}